src/main/mule/dwl-preparation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc3dee25-52f6-4f0f-9654-f6ca5118e372" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwl-preparationFlow" doc:id="d1758fcf-84c2-4be5-9091-8980424a0243" >
		<http:listener doc:name="Listener" doc:id="58a3d0ca-ec25-49bf-ae80-89d147f5273d" config-ref="HTTP_Listener_config" path="dwl-preparationFlow-1" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.s1]" doc:name="Set Variable" doc:id="db1f4292-f399-4ce2-924e-3ea37ccb56d5" variableName="s1"/>
		<set-variable value="#[attributes.queryParams.s2]" doc:name="Set Variable" doc:id="784e52e5-e45e-4328-84e6-028a9b5be049" variableName="s2"/>
		<ee:transform doc:name="Transform Message" doc:id="4845d83f-8db1-4f02-8c51-f2a2a20f9669" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var a=vars.s1+vars.s2
---
a]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
